body{
    text-align: center;
}
/* Header Section */
.header-content{
    display: flex;
    justify-content: space-evenly;
}

header a{
    position:sticky;
}

img{
    width: 31.25rem;
    height: 21.875rem;
}

.services{
    background-color: black;
    color: white;
}

.services-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}